<%= form_with(model: @movie, local: true, html: { multipart: true }) do |f| %>
  <div class="form-group">
    <%= f.label :title, t('movies.form.title') %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :synopsis, t('movies.form.synopsis') %>
    <%= f.text_area :synopsis, rows: 4, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :year, t('movies.form.year') %>
    <%= f.number_field :year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration, t('movies.form.duration') %>
    <%= f.number_field :duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :director, t('movies.form.director') %>
    <%= f.text_field :director, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :categories, t('movies.form.categories') %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <div class="form-check">
        <%= cb.check_box(class: "form-check-input") %>
        <%= cb.text %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, t('movies.form.tags') %>
    <%= f.text_field :tag_list, value: @movie.tags.pluck(:name).join(", "), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :poster, t('movies.form.poster') %>
    <%= f.file_field :poster, class: "form-control" %>

    <% if @movie.poster.attached? %>
      <div class="poster-preview">
        <%= image_tag @movie.poster.variant(resize_to_limit: [200, 300]), class: "poster-preview__img" %>
        <div class="form-check">
          <%= f.check_box :remove_poster, class: "form-check-input" %>
          <%= f.label :remove_poster, t('movies.form.remove_poster'), class: "form-check-label" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t('movies.form.submit'), class: "btn btn--primary" %>
  </div>
<% end %>
