<div class="movie-card"> 
  <h2><%= @movie.title %></h2>
  <p>
    <strong><%= t('movies.show.director') %>:</strong> <%= @movie.director %> | 
    <strong><%= t('movies.show.year') %>:</strong> <%= @movie.year %> | 
    <strong><%= t('movies.show.duration') %>:</strong> <%= @movie.duration %> min
  </p>

  <% if @movie.poster.attached? %>
    <div class="poster mb-2">
      <%= image_tag poster_variant(@movie.poster), class: "poster-img" %>
    </div>
  <% end %>

  <% if user_signed_in? && @movie.user == current_user %>
    <%= link_to t('movies.show.edit'), edit_movie_path(@movie), class: "button" %> |
    <%= button_to t('movies.show.delete'), movie_path(@movie), method: :delete, data: { confirm: t('movies.show.confirm_delete') }, class: "button" %>
  <% end %>

  <p><%= @movie.synopsis %></p>
  <p><strong><%= t('movies.show.categories') %>:</strong> <%= @movie.categories.pluck(:name).join(", ") %></p>

  <p><strong><%= t('movies.show.tags') %>:</strong>
    <% @movie.tags.each do |tag| %>
      <span class="tag-badge"><%= tag.name %></span>
    <% end %>
  </p>
</div>

<div class="comments">
  <h3><%= t('movies.show.comments') %></h3>

  <% @movie.comments.each do |comment| %>
    <div class="comment">
      <strong><%= comment.user.name %>:</strong> <%= comment.content %>
      <% if comment.user == current_user %>
        <%= button_to t('movies.show.delete'), movie_comment_path(@movie, comment), method: :delete, data: { confirm: t('movies.show.confirm_delete') }, class: "button" %>
      <% end %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@movie, Comment.new], local: true) do |f| %>
      <div class="form-group">
        <%= f.label :content, t('movies.show.add_comment') %>
        <%= f.text_area :content, rows: 3, class: "form-control" %>
      </div>
      <button type="submit"><%= t('movies.show.comment') %></button>
    <% end %>
  <% else %>
    <p><%= link_to t('movies.show.login_to_comment'), new_user_session_path %></p>
  <% end %>
</div>
