<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8">
  <title>Maino Filmes</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <h1><a href="<%= movies_path %>">Maino Filmes</a></h1>

    <div class="header-center">
      <%= form_with url: movies_path, method: :get, local: true, class: "search-form" do |f| %>
        <%= f.text_field :q, placeholder: t('search.placeholder'), value: params[:q] %>
        <button type="submit"><%= t('search.button') %></button>
      <% end %>
    </div>

    <div class="header-right">
      <nav>
        <% if user_signed_in? %>
          <%= t('header.hello') %>, <%= current_user.name %> |
          <%= link_to t('header.profile'), edit_user_registration_path %> |
          <%= link_to t('header.logout'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('header.login'), new_user_session_path %> |
          <%= link_to t('header.register'), new_user_registration_path %>
        <% end %>

      <!-- Seletor de idioma funcional -->
      | <a href="#" onclick="window.location.href='?locale=en'; return false;">EN</a> |
      <a href="#" onclick="window.location.href='?locale=pt'; return false;">PT</a>
      </nav>
    </div>
  </header>

  <main>
    <% if notice %>
      <div class="notice"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </main>

  <footer>
    &copy; <%= Time.current.year %> Maino Filmes
  </footer>
</body>
</html>
